
@model IEnumerable<Adoption.Models.WishList>

@{
    ViewData["Title"] = "My Wishlist";
}

@* <h1>@ViewData["Title"]</h1>*@

@if(Model == null || !Model.Any())
{
    <p>Your wishlist is empty.</p>
}
else
{
    <div class="container shadow p-5">

        <h1 class="text-center mb-3">Wishlist</h1>

        <div class="col mb-3">
            <a><i class="bi bi-file-plus-fill"></i>WishList</a>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Color</th>
                    <th scope="col">Age</th>
                    <th scope="col">Photo</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td width="20%">
                            @item.Dog.Name
                        </td>
                        <td width="20%">
                            @item.Dog.Color
                        </td>
                        <td width="25%">
                            @item.Dog.Age
                        </td>
                        <td><img src="@item.Dog.ImageUrl" class="card-img-top rounded" style="aspect-ratio: 1/1; object-fit:cover;width:50px;height:50px" /></td>
                        <td>
                        <td>
                            <div role="group" class="w-60 btn-group">
                                <a asp-action="DeleteFromWishlist" asp-route-dogId="@item.DogId" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}



@*  @if (Model == null || !Model.Any())
{
    <p>Your wishlist is empty.</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Dog Name</th>
                    <th>Color</th>
                    <th>Age</th>
                    
                    <th>Photo</th>
                    <th>Remove Dogs</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Dog.Name</td>
                        <td>@item.Dog.Color</td>
                        <td>@item.Dog.Age</td>
                        
                        
                        <td><img src="@item.Dog.ImageUrl" class="card-img-top rounded" style="aspect-ratio: 1/1; object-fit:cover;width:50px;height:50px" /></td>
                        
                        <td>
                            <a asp-action="DeleteFromWishlist" asp-route-dogId="@item.DogId" class="btn btn-danger btn-sm">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}*@