@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

	<h3>List of all users</h3>

	<table class="table">
		<thead>
			<tr>
				<th>
					Username
				</th>
				<th>
					Email
				</th>
				<th>
					Hashed Password
				</th>
			</tr>
		</thead>
		<tbody>
		@foreach(var item in Model)
		{
			<tr>
				<td>
					@item.UserName
				</td>
				<td>
					@item.Email
				</td>
				<td style ="filter:blur(3px)">
					@item.PasswordHash
				</td>
				<td >
					<form asp-action="EditUser" method="post" asp-route-id="@item.Id">
						<button type="submit" class="btn ">EditUser</button>
					</form>
				</td>
				<td>
					<form asp-action="DeleteUser" method="post" asp-route-id="@item.Id">
						<button type="submit" class="btn btn-danger">Delete</button>
					</form>
				</td>
			</tr>
		}
		</tbody>
	</table>